# Core functionality - changes here should be rare!
/src/app.py                   @antoniobenitez01
/src/backend/database.py      @antoniobenitez01
/src/backend/routers/auth.py  @antoniobenitez01

# The frontend will need refactored soon to be more object oriented.
/src/static/   @antoniobenitez01
